*{
    font-family: 'Source Sans Pro', sans-serif;
}
.tablaxd{
    background-color: gray;
}

.separador{
    padding-top: 10%;
    padding-bottom: 11%;
}

.texto{
    text-align: center;
}